<div class="continerform">

  <div class="col-md-8 seventy right">
    <!-- <div *ngIf="alert" class="alert alert-success alert-dismissile fade show" role="alert">
      <strong>Success !</strong> Applicant registration successful
    </div> -->

    <div class="content">
      <form [formGroup]="ApplicantForm" #localForm="ngForm">
        <br>
        <input type="hidden" name="id" [value]="service.formData.id" />
        <div class="row ">
          <div class="col mb-4">
            <label for="name" class="m-1">First Name:</label>
            <input type="text" class="input-border" id="name" formControlName="name" placeholder="At least 5 characters"
              [(ngModel)]="service.formData.name" [ngClass]="{'is-invalid':f.name.invalid}" required minlength="5">
            <div class="alertheight">
              <div class="alert alert-danger " *ngIf="f.name.touched && f.name.invalid ">
                <div *ngIf="f.name.errors?.['required']"> Enter First Name </div>
                <div *ngIf="f.name.errors?.['minlength']">Should be atleast 5 characters</div>
              </div>
            </div>
          </div>
          <div class="col md-4">
            <label for="familyname" class="form-label">Family Name:</label>
            <input type="text" class="input-border" id="familyName" formControlName="familyName"
              placeholder="At least 5 characters" [(ngModel)]="service.formData.familyName"
              [ngClass]="{'is-invalid':f.familyName.invalid}" required minlength="5">
            <div class="alertheight">
              <div class="alert alert-danger" *ngIf="f.familyName.touched && f.familyName.invalid">
                <div *ngIf="f.familyName.errors?.['required']"> Enter Family Name </div>
                <div *ngIf="f.familyName.errors?.['minlength']">Should be atleast 5 characters</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col md-4">
            <label for="address" class="form-label">Address:</label>
            <input type="text" class="input-border" id="address" formControlName="address"
              placeholder="At least 10 characters" [(ngModel)]="service.formData.address"
              [ngClass]="{'is-invalid':f.address.invalid}" required minlength="10">
            <div class="alertheight">
              <div class="alert alert-danger" *ngIf="f.address.touched && f.address.invalid">
                <div *ngIf="f.address.errors?.['required']"> Enter Address </div>
                <div *ngIf="f.address.errors?.['minlength']">Should be atleast 10 characters</div>
              </div>
            </div>
            <div class="form-text"></div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col md-4">
            <label for="email" class="form-label">Email address:</label>
            <input type="email" id="emailAddress" formControlName="emailAddress" placeholder="123@gmail.com"
              [(ngModel)]="service.formData.emailAddress" [ngClass]="{'is-invalid':f.emailAddress.invalid}" required
              pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" name="email" class="input-border">
            <div class="alertheight">
              <div class="alert alert-danger" *ngIf="f.emailAddress.touched && f.emailAddress.invalid">
                <div *ngIf="f.emailAddress.errors && f.emailAddress.errors?.['pattern']"> Enter correct Email Address
                </div>
                <div *ngIf="f.emailAddress.errors?.['required']"> Enter Email Address </div>
                <div class="form-text"></div>
              </div>
            </div>
          </div>
          <div class="col md-4">
            <label for="age" class="form-label">Age:</label>
            <input type="number" min=20 max=60 class="input-border" id="age" formControlName="age"
              [(ngModel)]="service.formData.age" [ngClass]="{'is-invalid':f.age.invalid}" required>
            <div class="alertheight">
              <div class="alert alert-danger" *ngIf="f.age.touched && f.age.invalid">
                <div *ngIf="f.age.errors?.['required']"> Enter Age </div>
                <div *ngIf="f.age.invalid"> Enter Age between 20-60 </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col md-4">
            <label>Country:</label>
            <select class="dropdown-height" formControlName="countryOfOrigin" placeholder="Select Country"
              [(ngModel)]="service.formData.countryOfOrigin">
              <option value="" selected disabled>Select Country</option>
              <ng-container *ngFor="let item of listCountry">
                <option>{{item?.name?.common}}</option>
              </ng-container>
            </select>
            <!-- <div style="margin: 5%;">
             <mat-form-field appearance="fill"> 
             <mat-label>Select Country</mat-label>

              <mat-select  required formControlName="countryOfOrigin" [(ngModel)]="service.formData.countryOfOrigin">
                 <mat-option value="" selected disabled>Select Country</mat-option>
             <ng-container *ngFor="let item of listCountry"> 
              <mat-option *ngFor="let item of listCountry" [value]="item?.name?.common">
                    {{item?.name?.common}}</mat-option>
              </ng-container> 
              </mat-select>
             </mat-form-field>  -->
            <div class="alertheight">
              <div class="alert alert-danger" *ngIf="f.countryOfOrigin.touched && f.countryOfOrigin.invalid">
                <div *ngIf="f.countryOfOrigin.errors?.['required']"> Enter Country </div>
                <div class="form-text">
                </div>
              </div>
            </div>
          </div>
          <div class="col md-4">
            <div class="m-1">Hired:</div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input type="radio" name="hired" [value]=1 formControlName="hired" [(ngModel)]="service.formData.hired">
                Yes</label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input type="radio" name="hired" [value]=0 formControlName="hired" [(ngModel)]="service.formData.hired"
                  checked="true">
                No</label>
            </div>
          </div>
        </div>

      </form>
    </div>
    <br>
    <div class="row">
      <div class="col-3 offset-3">
        <div class="d-grid">
          <button class="buttonsubmit" [disabled]="ApplicantForm.invalid" (click)="openAlert($event)"
            type="submit">Submit</button>
        </div>
      </div>
      <div class="col-4 offset-0">
        <div class="d-grid ">
          <button class="buttonreset" [disabled]="ApplicantForm.invalid" mat-raised-button (click)="onReset($event)"
            type="reset">Reset</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row-md-25">
  <div class="col-md-10 thirty left">
    <div class="centered">
      <img alt="user" src="./assets/user.png">
      <h2>Applicant Registration Form</h2>
      <p><em>Let's get started!</em></p>
      <div class="example-button-row">
        <button mat-raised-button class="registerbtn" color="accent" (click)="toggle($event)">{{buttonName}}</button>
      </div>
    </div>
  </div>
  <div class="tableshow">
    <ng-container *ngIf="show">
      <div class="row">
        <app-applicant-detail></app-applicant-detail>
      </div>
    </ng-container>
  </div>
</div>