body {
    margin: 20px 60px;
    padding: 5%;
    background-color: rgb(175, 226, 226);

}

.content {
  width: 80%;
  margin: auto;
  /* height: 35%; */
  bottom: 0%;
}
input.ng-invalid.ng-touched {
  border: red 1px solid;
}
.is-invalid{
  border: red 1px solid;
}
.alert-border{
  height: 7px;
  align-items: center;
font-size: smaller;
padding: auto;
text-align:justify;

    margin-bottom: -1rem;

}
.alert {
  display:inline-block;
  width:100%;    
  height: 18%;
  font-size: small;
  font-style: oblique;
  line-height: normal;
}
.input-border{
  border: rgb(206, 197, 255) 1px solid;
  display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    /* border: 1px solid #ced4da; */
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.thirty {
  width: 40%;
  display: block;
  float: left;
  right: 0;
  /* background-color:rgb(240, 242, 248); */
  background-color: rgb(2, 4, 40);
  top: 0;
  height: 100%;
  position: absolute;
 
}

.seventy {
  width: 60%;
  display: block;
  float: right;
  left: 0%;
  background-color: rgb(188, 195, 219);
  height: 110%;
  right:30%;
  margin: -40px 4px;
  position:initial;
 
  /* position: fixed; */
 
}
::ng-deep .cdk-overlay-container {
  z-index: 9999;
}
.cdk-global-overlay-wrapper, .cdk-overlay-container { z-index: 9999!important; } 

.dropdown{
  margin: -20px 10px;
  position:initial;
}
.buttonrowreset{
  background-color: rgb(188, 195, 219);
  position: absolute;
 
  position: absolute;
}
section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    width: 490px;
  }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  .alert {
    opacity: 1;
    transition: opacity 0.6s; /* 600ms to fade out */
  }
  .dropdown-height{
    height: 33px !important;
    border-radius: 0.375rem;
    width: 285px;
    cursor: pointer;
  }
.tableshow{
    cursor: pointer;
    padding: 0px;
    position: absolute;
    width: 99%;
    border-radius: 30px;
    padding: 10px 10px;
    
    line-height: 20px;
    font-size: 15px;
    font-style:oblique;
    text-align: center;
    cursor: pointer;
    margin: 700px -25px;
    align-items: center;
    position: absolute;
}
::ng-deep .mat-select-panel {
  margin-top: 20%; 
  margin: 500px 230px;
}

.continerform{
padding: 20px;
width: 97%;
height: 80%;
align-items: center;
margin: 35px 15px;
border-radius: 0px;
 position:absolute;

}
 
.registerbtn {
  background-color: #a0dcff;
  color: rgb(0, 0, 0);
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: max-content;
  opacity: 0.7;
  border-radius: 30px;
  
}

button {
  padding: 5px 10px;
  
}

.buttonreset{
  height: 45px;
  width: 150px;
  background-color: #f27088;
  border-radius: 25px;
  color: white;
}
.alertheight{
  height: 14px;
}
.buttonsubmit{
  height: 45px;
  width: 150px;
  background-color: #57cbeb;
  border-radius: 25px;
  color: rgb(255, 255, 255);
}
button:hover {
  padding: 5px 10px;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

#toggle {
    position: absolute;
    appearance: none;
    cursor: pointer;
}
#toggle+label {
    cursor: pointer;
    padding: 100px;
    background: rgb(233, 161, 132);
    width: 200px;
    border-radius: 30px;
    padding: 18px 10px;
    color: rgb(10, 10, 10);
    line-height: 20px;
    font-size: 15px;
    font-style:oblique;
    text-align: center;
    cursor: pointer;
    margin: 50px 230px;
    
    transition: all 500ms ease;

}

#toggle+label:after {
    content: "Show all Applicants"
}


#toggle:checked~.formAdd {
    top: 0;
}

#toggle:checked~.container {
    margin-top: 200px;
}

#toggle:checked+label {
    background: rgb(233, 161, 132);
}

#toggle:checked+label:after {
    content: "Close"
}
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  color: whitesmoke;
  background-color: rgb(2, 4, 40);

}

.right {
  right: 0;
  background-color:rgb(240, 242, 248);
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}