<div class="tableAdd">


  <table class="table table-hover">
    <thead class="border">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Family Name</th>
        <th>Address</th>
        <th>Country of Origin</th>
        <th>Email Address</th>
        <th>Age</th>
        <th>Hired</th>
        <th>Actions</th>
        <th></th>

      </tr>
    </thead>
    <tbody>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <tr *ngFor="let app of service.listApplicant">

        <td><span>{{app.id}}</span></td>
        <td><span>{{app.name}}</span></td>
        <td><span>{{app.familyName}}</span></td>
        <td><span>{{app.address}}</span></td>
        <td><span>{{app.countryOfOrigin}}</span></td>
        <td><span>{{app.emailAddress}}</span></td>
        <td><span>{{app.age}}</span></td>
        <td><span>{{app.hired}}</span></td>
        <td>
          <i class="fa fa-trash delete-icon"  (click)="onDelete($event,app.id)"></i>
          <i class="fa fa-edit update-icon"  (click)="populateApplicant(app)"></i>
        </td>

      </tr>
    </tbody>
  </table>
</div>